body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea en la parte superior */
    
  }
  label {
    color: rgb(0, 0, 0);
    text-shadow:(0, 0, 0) 2px 2px 4px rgb(169, 169, 169); /* Sombra dorada */
}
  .titulo {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(171, 171, 171); /* Sombra dorada */
    filter: drop-shadow(2px 2px 4px rgb(77, 77, 77)); /* Efecto dorado */
}
  
  .contenedor {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin: 20px auto; /* Alinea el tablero al centro */
  }
  
  td {
    width: 30px;
    height: 30px;
    border: 1px solid #8a8989;
    text-align: center;
    background-color: #cdcdcd; /* Color grisaceo */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.468); /* Añadir sombra */
    transition: background-color 0.15s ease;
    user-select: none;
    
  }
  td:hover {
    background-color: #8787877e; /* Cambiar el color al pasar el ratón */
    cursor:pointer;
}
  select {
    margin: 0 10px; /* Añade espacio alrededor del select */
  }

.vacia-revelada{
  background-color: #a7a7a7;
  }
  .numero-1 {
    color: blue;
    background-color: #a7a7a7; /* Color azul para el número 1 */
  }
  
  .numero-2 {
    color: green;
    background-color: #a7a7a7; /* Color verde para el número 2 */
  }
  
  .numero-3 {
    color: red;
    background-color: #a7a7a7; /* Color rojo para el número 3 */
  }
  
  .numero-4 {
    color: brown;
    background-color: #a7a7a7; /* Color marrón para el número 4 */
  }
  
  .numero-5 {
    color: aqua;
    background-color: #a7a7a7; /* Color turquesa para el número 5 */
  }
  
  .numero-6 {
    color: yellow;
    background-color: #a7a7a7; /* Color amarillo para el número 6 */
  }
  .bloqueadaBomba{
    background-color: rgba(255, 0, 0, 0.751);
  }
  .bloqueadaBomba:hover{
    background-color: rgba(255, 0, 0, 0.751);
  }
  