body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea en la parte superior */
    background-image: url(Imagenes/FondoBuscaminas.jpg);
    
  }
  label {
    color: white;
    text-shadow: 2px 2px 4px rgb(228, 224, 13); /* Sombra dorada */
}
  .titulo {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Sombra dorada */
    filter: drop-shadow(2px 2px 4px rgb(255, 217, 0)); /* Efecto dorado */
}
  
  .contenedor {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin: 20px auto; /* Alinea el tablero al centro */
  }
  
  td {
    width: 30px;
    height: 30px;
    border: 1px solid #8a8989;
    text-align: center;
    background-color: #cdcdcd; /* Color grisaceo */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.468); /* Añadir sombra */
    transition: background-color 0.15s ease
  }
  td:hover {
    background-color: #8787877e; /* Cambiar el color al pasar el ratón */
    cursor:pointer;
}
  select {
    margin: 0 10px; /* Añade espacio alrededor del select */
  }
  
  